body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  text-align: center;
  background-color: rgb(185, 185, 185);
} 

.list {
  background-color: aquamarine;
  margin-left: 500px;
  margin-right: 500px;
  padding: 5px;
}

input {
  background-color: rgb(255, 213, 0);
  border-radius: 2px;
  text-align: center;
}

.head {
  color: antiquewhite;
  text-shadow: 2px 2px 2px black;
}

.flav {
  color: blue;
}

.price {
  color: greenyellow;
}

.pint {
  color: rgb(122, 52, 52);
}

button {
  background-color: black;
  color: rgb(0, 195, 255);
}

.message {
  color: red;
}

.message2 {
  color: yellow;
}

.line {
  width: 400px;
}

.click {
  background-color: yellow;
  width: 120px;
  margin-left: 202px;
}